@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Poppins:wght@300;400&display=swap');

:root {
    --pirmary-red: #990000;
}

.img-artikel {
    width: max-content;
}

.tanggal {
    font-size: 10px;
}